{% extends 'base_html.html' %}

{% block title %}
    settings
{% endblock %}

{% block setting %}
    class="active"
{% endblock %}

{% block body %}

    <div class="space_nav">
        <form action="/addInfo" method="Post">
            <div>
                <label for="name" class="label">name</label>
                <input type="text" name="name" value="{{ dog_info[0] }}" class="data_settings">
                <label for="weight">weight</label>
                <input type="number" name="weight" value="{{ dog_info[1] }}" class="data_settings3">
                <select name="unit" id="unit" class="data_settings2">
                    <option value="kg">kg</option>
                    <option value="g">g</option>
                </select>
            </div>

            <div>
                <label for="age">age</label>
                <input type="number" name="age" value="{{ dog_info[3] }}" class="data_settings" >
                <label for="birthday">birthday</label>
                <input type="date" name="birthday" value="{{ dog_info[4] }}" class="data_settings">
            </div>
                <input type="submit" value="change info" class="submit_buttton" >
        </form>

        <div>
            the daily recommended portionsize for {{ dog_info[0] }} is {{ recommended[0] }} {{ recommended[1] }}

                <form action="/addPortion" method="post">
                    <input type="number" step="0.01" name="portion" value="{{ max_portionsize}}" class="data_settings3">
                    <select name="unit" id="unit" class="data_settings2">
                        <option value="kg">kg</option>
                        <option value="g">g</option>
                    </select> <br>
                    <input type="submit" value="submit" class="submit_buttton">
                </form>

        </div>

    </div>

{% endblock %}